* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    justify-content: space-around;

}

#Mids
{
    font-size:20px;
}
.About{
    width: 500px;
    color: white;
    margin-top: 150px;
    margin-bottom: 20px;
    font-style: normal;
}


.SofaSet {
    margin-top: -370px;
    padding-left: 448px;
}

.button {
    padding: 15px 30px;
    background-color: hsla(43, 93%, 48%, 0.889);
    border: none;
    border-radius: 32px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin-top: 30px;
    cursor: pointer;
}

.button2 {
    padding: 15px 30px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 32px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}


.button2:hover {
    border: 2px solid white;

}

.button:hover {

    background-color: rgb(138, 138, 15);

    border: 2px solid white;

}

#Name {
   color: white;
   text-decoration: none;
   font-size: 30px;
 
}
.Outer {
    padding-left:65px;
    padding-top: 30px;
    background-color: #3F5F54;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.NavList { 
     color: #80968d;
    margin-top: -30px;
    font-size: 14px;
    list-style: none;
    display: flex;
    margin-left:270px;
    gap: 45px;
    cursor: pointer;
    font-weight: 100;
    justify-content: center;


}

.NavList :hover {
    text-decoration: underline;
    text-decoration-color: yellow;
    text-transform: 2px solid;
    color: white;
}

main
{
    margin-top: -120px;
    padding-top: 150px;
    background-color:rgb(211, 232, 236);
    padding-bottom: 250px;
}
.footer {

    margin-top: -200px;
    height: 580px;
    width: 100%;
}

.footerr1 {
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 300px;
    padding: auto;
    padding-left: 20px;
}

.footerimg {
    margin-top: -165px;
    height: 328px;
    width: 380px;
    padding-right: 20px;
}

.finput {
    border: 1px solid black;
    border-radius: 8px;
    padding: 14px 30px;
}

.bibi-envelope {
    margin-bottom: -10px;
}

.send {
    border: none;
    border-radius: 8px;
    padding: 14px 30px;
    background-color: #3F5F54;
}

.send:hover {
    border: 2px solid white;
    cursor: pointer;
    border-radius: 8px;
    padding: 14px 30px;

    background-color: goldenrod;
}

.contractlogo {
    display: flex;
    text-align: center;
    width: 100px;
    justify-content: space-between;
    gap: 20px;
    color: #3F5F54;
    cursor: pointer;

}



.footerr2 {
    margin-top: 40px;
    margin-right: -40px;
    display: flex;
    gap: 100px;

    justify-content: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 20px;
    cursor: pointer;
}

.end {
    display: flex;
    justify-content: center;
    gap: 250px;
    color: rgb(88, 94, 100);
    margin-bottom: 20px;
    margin-top: -50px;
}
body {
  overflow-x: hidden;
}

.why-choose-us {
    justify-content: space-between;
}

.why-choose-sectioninner {
    display: flex;
    gap: 20px;
    margin-left: 10px;
    width: 650px;

}

.WhyAndImage {
    display: flex;
    justify-content: center;

}

#whyimage {

    margin-left: 0px;
    border-radius: 20px;
    justify-content: space-between;

}
.personimg
{
    height: 270px;
    width: 270px;
    padding: 8px;
    justify-content: center;
}
.personimgbox
{
padding-left: 50px;
justify-content: center;
display: flex;
}
.persondetails
{
    justify-content: center;
    display: flex;
    padding-left: 50px;
}
a
{
    color: white;
    text-decoration: none;
}
p
{
    color:hwb(161 44% 49%)
;
}
h2
{
    color: #000;
}


.Testimonials {
    text-align: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #35424f;
    margin-bottom: 50px;
}

.Testimonialspara {
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
}

.Testimonialsimg {
    height: 70px;
    border-radius: 200px;
    text-align: center;
    justify-content: center;

}